[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
    clean = git-lfs clean -- %f

[user]
	name = Prashanth Babu T
    email = prashanthbabu07@gmail.com


# Use this config when inside any repo under ~/work/
[includeIf "gitdir:/Volumes/Sandisk/Projects/theorem/"]
    path = ~/dotfiles/zshrc/.gitconfig-work

# Use this config when inside any repo under ~/personal/
; [includeIf "gitdir:~/prashanthbabu07/"]
;     path = ~/.gitconfig-personal
